.App {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  top: 50px;
  max-width: 300px;
  gap: 5px;
  padding: 12px 70px 40px 10px;
  border: 1px solid #adadad;
}

.param {
  display: flex;
}

.paramName {
  width: 120px;
}